<div class="transparent"></div>
<div class="about-container">
  <div class="about">
    <h2>Hej!</h2>
    <p>
      message port closed before a response was received. core.js:27910 Angular
      is running in development mode. Call enableProdMode() to enable production
      mode. client:52 [WDS] Live Reloading enabled. localhost/:1 Unchecked
      runtime.lastError: The message port closed before a response was received.
      localhost/:1 Unchecked runtime.lastError: The message port closed before a
      response was received.
    </p>
  </div>
</div>
