<div class="about-container">
  <div class="scroll-indicator" [style.opacity]="scrollIndicator">
    <img src="assets/images/arrow.png" alt="Pil" />
  </div>
  <div class="about">
    <div>
      <h2>Hej!</h2>
      <p>
        Oscar heter jag och går nu femte året på Civilingenjörsutbildningen
        Interaktion & Design i Umeå. Jag älskar att programmera och vill arbeta
        med frontend-utveckling.
      </p>
      <br />
      <p>
        Jag har erfarenhet inom webbutveckling, är mycket bekväm i JavaScript
        och flera av dess bibliotek och ramverk som React och Angular. Jag är
        alltid sugen på att lära mig mer och att jobba med nya spännande
        verktyg!
      </p>
    </div>
    <img
      class="hideOnMobile"
      src="assets/images/profilbild.png"
      alt="Bild på mig"
    />
  </div>
</div>
