.transparent {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.about-container {
  height: 140vh;
  width: 100%;
  background-color: #111;
  display: grid;
  justify-items: center;
  align-items: center;

  .scroll-indicator {
    position: absolute;
    // background-color: red;
    height: 100px;
    width: 100px;
    left: calc(50% - 50px);
    top: calc(100vh - 100px);
    display: grid;
    justify-items: center;
    align-items: center;
    transition: opacity 1s;

    img {
      width: 40%;
      height: 40%;
      filter: invert(1);
      animation: fadeIn;
      animation-delay: 6s;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      opacity: 0;
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }

  .about {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    color: white;
    // background: linear-gradient(120deg, #021741, #1a0342, #15023b);
    background: #111;
    border-radius: 8px;
    animation: shadowChange;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    --shdw2: #0e509bde;
    --shdw: #500350d2;

    img {
      width: 250px;
      //   height: 30%;
      margin-left: 3rem;
      border-radius: 50%;
      filter: grayscale(1);
    }
  }
}

@media only screen and (max-width: 600px) {
  .about-container {
    height: 100vh;
  }
  .hideOnMobile {
    display: none;
  }
}

@keyframes shadowChange {
  0% {
    box-shadow: #111 0px 48px 150px 0px, #111 -50px 48px 150px 0px;
  }
  5% {
    box-shadow: #111 0px 48px 150px 0px, #111 -50px 48px 150px 0px;
  }
  25% {
    box-shadow: var(--shdw) 50px 0px 150px 0px,
      var(--shdw2) -50px -48px 150px 0px;
  }
  50% {
    box-shadow: #111 0px -48px 150px 0px, #111 0px -48px 150px 0px;
  }
  55% {
    box-shadow: #111 0px 48px 150px 0px, #111 -50px 48px 150px 0px;
  }
  75% {
    box-shadow: var(--shdw) -50px 0px 150px 0px, var(--shdw2) 50px 0px 150px 0px;
  }
  100% {
    box-shadow: #111 0px 48px 150px 0px, #111 -50px 48px 150px 0px;
  }
}
