.transparent {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.about-container {
  height: 100vh;
  width: 100%;
  background-color: #00000066;
  // backdrop-filter: blur(6px);

  display: grid;
  justify-items: center;
  align-items: center;

  .about {
    width: 80%;
    max-width: 500px;
    padding: 2rem;
    color: white;
    background: linear-gradient(120deg, #021e58, #210453, #1d0350);
    border-radius: 8px;
  }
}
