.project {
  border-top: 1px solid #1768ac;
  padding: 1rem;
  color: white;
  box-sizing: border-box;
  transition: filter 500ms;

  .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    .link {
      transition: transform 200ms;

      a {
        text-decoration: none;
        color: white;
      }
    }

    .link:hover {
      transform: translateX(5px);
    }
  }

  img {
    width: 100%;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 600px) {
  .project {
  }
}
